.navbar-header {
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    width: 100vw;
    padding: 0 2rem;
    background-color: #5CDB95;
    color: #F3F3F3;
    position: fixed;
    z-index: 1;
}
.navbar-header-active {
    background: rgba(243, 243, 243, 0.71);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
    -webkit-box-shadow: 1px 5px 9px -6px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 5px 9px -6px rgba(66, 68, 90, 1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    width: 100vw;
    padding: 0 2rem;
    color: #05386B;
    position: fixed;
    z-index: 1;
}
nav .navbar-links {
    margin: 0 1rem;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}
nav .navbar-links:first-child {
    margin-left: 4rem;
}
.navbar-links:hover {
    color: #20578d;
}
nav .navbar-links:hover::after, nav .navbar-active-link::after {
    content: "";
    position: absolute;
    right: 0.1rem;
    top: 1.4rem;
    width: 101%;
    height: 0.2rem;
    background: #20578d;
    transition: all 1s;
    border-radius: 1rem;
}
.navbar-active-link {
    color: red ;
}
.navbar-menu-btn {
    margin-left: auto;
}

.navbar-header .navbar-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    display: none;
    font-size: 1.8rem;
    color: #F3F3F3;
}
.navbar-header-active .navbar-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    display: none;
    font-size: 1.8rem;
    color: #05386B;
}
.navbar-logo {
    width: 4rem;
    height: 3rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
.navbar-logo:hover {
    transform: rotate(-6deg);
  }

@media screen and (max-width:760px) {
    .navbar-header .navbar-btn {
        display:block
    }
    .navbar-header-active .navbar-btn{
        display:block
    }
    .navbar-header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.3rem;
        background-color: #5CDB95;
        transition: 1s ease-in-out;
        transform: translateX(160vh);
    }
    .navbar-header-active nav {
        background-color: #F3F3F3;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.3rem;
        transition: 1s ease-in-out;
        transform: translateX(160vh);
    }

    .navbar-header .responsive_navbar {
        transform: none;
    }
    .navbar-header-active .responsive_navbar{
        transform: none;
    }
    nav {
        display: flex;
        flex-direction: column;
    }
    .navbar-header .navbar-close-btn {
        position: absolute;
        top: 1.4rem;
        right: 2rem;
    }
    .navbar-header-active .navbar-close-btn {
        position: absolute;
        top: 1.4rem;
        right: 2rem;
    }
    nav .navbar-links:first-child {
        margin: 0;
    }
}