@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=VT323&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width:0.7vw;
}
::-webkit-scrollbar-track {
  background-color: #F3F3F3;
}
::-webkit-scrollbar-thumb {
  background-color: #05386B;
  border-radius: 1rem;
  height: 2rem;
}
.spinner_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #EDF5E1;
}
.download_btn:active, .live_btn:active, .source_code_btn:active, .send_btn:active{
  border-bottom-width: 2px;
  top: 3px;
}
.live_btn {
  margin-right: 0.4rem;
}
.send_btn_wrapper {
  display:grid;
}
.send_btn {
  margin-bottom: 1rem !important;
}
.live_btn, .source_code_btn, .send_btn{
  background: #5487b9;
  color: #d4e8fc;
  border: 0;
  padding: 5px 10px;
  border-bottom: 5px solid #05386B;
  border-left: 1px solid #05386B;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  font-weight: 300;
}

/* Title */
.title-bg {
  width: 25rem;
   height: 25rem;
   margin-top: 17rem;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
.title-container{
  height: 50rem !important;
  background-image: url("./assets/images/bodyBg.svg");
  background-size: cover;
}
.title-wrapper {
  margin-top: 8rem;
}
.p-title {
  font-size: 3rem;
  padding-top: 40px;
  margin-top: 20px;
  margin-left: 15px;
  font-weight: 600;
  color: #EDF5E1;
  -webkit-text-stroke: 2px #05386B;
}

.p-title1 {
  font-size: 7rem;
  margin-top: 5px;
  margin-left: 16px;
  font-weight: bold;
  color: #EDF5E1;
  text-shadow: 5px 1px 0px #05386B;
}
.p-text {
  font-size: 19px;
  margin-left: 25px;
  font-weight: 500;
  color: #EDF5E1;
  -webkit-text-stroke: 0.3px #05386B;
}

.title-icon {
  display:flex;
  margin: 1.3rem 0 0 1.4rem;
}
.title-icon a {
  text-decoration: none;
  color: #d4e8fc;
}
.title-icon-github {
  font-size: 2.2rem;
  margin-right: 1rem;
  background: #5487B9;
  padding: 0.3rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border-bottom: 4px solid #052749;
  border-left: 1px solid #052749;
  position:relative
}
.title-icon-linkedin {
  font-size: 2.2rem;
  background: #5487B9;
  padding: 0.3rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border-bottom: 4px solid #052749;
  border-left: 1px solid #052749;
  position:relative
}
.title-icon-resume-btn {
  border-radius: 0.3rem;
  border:none;
  color: #d4e8fc;
  background-color: #5487B9;
  border-bottom: 4px solid #052749;
  border-left: 1px solid #052749;
  position:relative;
  margin-left: 1.3rem;
  padding: 0.2rem 1.4rem;
  font-weight: 300;
}
.title-icon-github:active, .title-icon-linkedin:active, .title-icon-resume-btn:active {
  border-bottom-width: 2px;
  top:3px
}


.main_body {
  background-color: #5CDB95;
}

/* Project Details */
.project-details-body {
  background-color: #EDF5E1;
  height: 150vh;
  padding-top: 2rem;
}
.image-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding:1rem 2rem;
}
.project-images {
  width: 10rem;
  height: 10rem;
  margin: 0.3rem;
  object-fit: contain;
}
.project_wrapper {
  display: flex;
  flex-direction: row;
  
}
.project-details {
  text-align: center;
}
.project-details-return-btn {
  color: #1c5fa3;
  margin-left: 2rem;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.project-details-return-btn:hover {
  transform:translateX(-3px);
}
.project-details-title {
  color: #5CDB95;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}
/* Navbar */
.navbar-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  width: 100vw;
  padding: 0 2rem;
  background-color: #5CDB95;
  color: #F3F3F3;
  position: fixed;
  z-index: 1;
}
.navbar-header-active {
  background: rgba(243, 243, 243, 0.71);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  -webkit-box-shadow: 1px 5px 9px -6px rgba(66, 68, 90, 1);
  -moz-box-shadow: 1px 5px 9px -6px rgba(66, 68, 90, 1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  width: 100vw;
  padding: 0 2rem;
  color: #05386B;
  position: fixed;
  z-index: 1;
}
nav .navbar-links {
  margin: 0 1rem;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}
nav .navbar-links:first-child {
  margin-left: 4rem;
}
.navbar-links:hover {
  color: #20578d;
}
nav .navbar-links:hover::after, nav .navbar-active-link::after {
  content: "";
  position: absolute;
  right: 0.1rem;
  top: 1.4rem;
  width: 101%;
  height: 0.2rem;
  background: #20578d;
  transition: all 1s;
  border-radius: 1rem;
}
.navbar-active-link {
  color: red ;
}
.navbar-menu-btn {
  margin-left: auto;
}

.navbar-header .navbar-btn{
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  display: none;
  font-size: 1.8rem;
  color: #F3F3F3;
}
.navbar-header-active .navbar-btn{
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  display: none;
  font-size: 1.8rem;
  color: #05386B;
}
.navbar-logo {
  width: 4rem;
  height: 3rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.navbar-logo:hover {
  transform: rotate(-6deg);
}
.arrow_up {
  background: #05386B;
  border-radius: 2rem;
  color: #F3F3F3;
  padding: 0.3rem;
  position: fixed;
  left: 30px;
  bottom: 50px;
  cursor:pointer;
  transition: 0.3s ease-in-out;
}
.arrow_up:hover {
  transform: translateY(-7px);
}

.project_header_text {
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 3px;
  -webkit-text-stroke: 0.8px #379683;
  color: #05386B;
  margin-bottom: 3rem;
}

.info_logo:hover { 
  fill: #1c5fa3;
}
.info_text_wrapper {
  position: absolute;
  top: 0.4rem;
  left: 0;
  width: 28rem;
  height: 13.3rem;
  background: black;
  opacity: 0.6;
  display: none;
}
.info_text {
  display: flex;
  justify-content: center;
  padding: 6rem 6rem 0 0;
  align-items: center;
  color: #F3F3F3;
  font-size: medium;
  cursor: pointer;
  font-weight: 700;
}
.img_wrapper {
  overflow: hidden;
  position: relative;
}
.project_img:hover {
  opacity: 0.3;
}
.img_wrapper:hover .info_text_wrapper {
  display: block;
}
/* About */

.about_text {
  margin-top: 3rem;
  -webkit-text-stroke: 0.1px #05386B;
  font-weight: 500;
  font-size: 1.3rem;
  text-align: justify;
}
.about_header_text {
  margin-top: 30px !important;
  margin-bottom: 70px !important;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 3px;
  -webkit-text-stroke: 1.5px #05386B;
  color: #EDF5E1;
}
.skills_header_text {
  margin-top: 10rem !important;
  margin-bottom: 50px !important;
  font-size: 45px;
  -webkit-text-stroke: 1.2px #05386B;
  color: #EDF5E1;
}
.contact_header_text {
  margin-top: 90px !important;
  padding-bottom: 3rem!important;
  font-size: 45px;
  padding-top: 3rem;
  font-weight: 600;
  letter-spacing: 3px;
  -webkit-text-stroke: 0.8px #379683;
  color: #05386B;
}
.button_live {
  margin-right: 20px !important;
  background-color: #05386B !important;
  border: none !important;
}
.project_name {
  font-size: 20px;
  margin-right: 25px;
  font-weight: 500;
  color: #35363A;
}
.project_details{
  font-size: 15px;
  color: #35363A;
  font-weight: lighter;
}
.project_card {
  border: none;
  margin-bottom: 2rem;
  border-radius: 0.4rem;
  transition: 0.3s ease-in-out;
  background: rgba(241, 243, 237, 0.02);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  -webkit-box-shadow: 1px 5px 9px -6px #8EE4AF;
  -moz-box-shadow: 1px 5px 9px -6px #8EE4AF;
}
.project_img {
  height: 14rem !important;
  box-shadow: 120px 100px 250px #000000, inherit -120px -100px 250px #000000; 
  object-fit: contain !important;
}
.project_card:hover {
  transform: translateY(-15px) !important;
}

h6 {
  color: #EDF5E1;
}

.about_image {
 width: 25rem;
  height: 25rem;
}

.project_tab {
  padding-bottom: 4rem;
  background-color: #EDF5E1 !important;
}
.contact_tab {
  margin-top: 5rem;
  background-color: #EDF5E1 !important;
  padding-bottom: 2rem;
}

/* Form */
.contact_form {
  border: 1px solid #EDF5E1;
  color: #EDF5E1;
  border-radius: 20px;
  padding: 2rem;
  background: rgba(243, 243, 243, 0.71);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  -webkit-box-shadow: 1px 5px 9px -6px rgba(66, 68, 90, 1);
  -moz-box-shadow: 1px 5px 9px -6px rgba(66, 68, 90, 1);
  margin: 1rem 25rem 2rem 25rem;
  width: 30rem;
}
.feedback_text {
  font-style: italic;
  text-align: center !important;
  font-size: 15px;
}

/* Tech Logo */
.stack_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #F5F5F5;
  width:fit-content;
  margin-left: 2rem;
  margin-top: 0.3rem;
}

.stack_card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.8rem 1.3rem 0.8rem 1.3rem;
  width: 7rem;
  height: 7rem;
  margin: 0.3rem;
  transition: 0.4s ease-in-out;
}
.stack_card:hover {
  transform: translateY(-15) !important;
}

footer {
  color: #EDF5E1;
  text-align: center;
  padding: 1rem 0;
}
/* Media Queries */
@media screen and (max-width:1200px) {
  .contact_form {
    border: 1px solid #EDF5E1;
    color: #EDF5E1;
    border-radius: 20px;
    padding: 2rem;
    background: rgba(243, 243, 243, 0.71);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
    -webkit-box-shadow: 1px 5px 9px -6px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 5px 9px -6px rgba(66, 68, 90, 1);
    margin: 1rem 17rem 2rem 17rem;
      width: 50%;
  }
}

@media screen and (max-width:760px) {
  .navbar-header .navbar-btn {
      display:block
  }
  .navbar-header-active .navbar-btn{
      display:block
  }
  .navbar-header nav {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.3rem;
      background-color: #5CDB95;
      transition: 1s ease-in-out;
      transform: translateX(160vh);
  }
  .navbar-header-active nav {
      background-color: #F3F3F3;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.3rem;
      transition: 1s ease-in-out;
      transform: translateX(160vh);
  }

  .navbar-header .responsive_navbar {
      transform: none;
  }
  .navbar-header-active .responsive_navbar{
      transform: none;
  }
  nav {
      display: flex;
      flex-direction: column;
  }
  .navbar-header .navbar-close-btn {
      position: absolute;
      top: 1.4rem;
      right: 2rem;
  }
  .navbar-header-active .navbar-close-btn {
      position: absolute;
      top: 1.4rem;
      right: 2rem;
  }
  nav .navbar-links:first-child {
      margin: 0;
  }

  .title-bg {
    width: 20rem;
     height: 20rem;
     margin-top: 2rem;
     margin-left: 3.4rem;
   }
  .title-wrapper {
    margin-top: 4rem;
  }
  .p-title {
    font-size: 33px;
    padding-top: 40px;
    margin-top: 20px;
    margin-left: 15px;
    font-weight: 600;
    color: #EDF5E1;
    -webkit-text-stroke: 2px #05386B;
  }
  
  .p-title1 {
    font-size: 80px;
    margin-top: 5px;
    margin-left: 16px;
    font-weight: bold;
    color: #EDF5E1;
    text-shadow: 5px 1px 0px #05386B;
  }
  .p-text {
    font-size: 17px;
    margin-left: 23px;
    font-weight: 500;
    color: #EDF5E1;
    -webkit-text-stroke: 0.3px #05386B;
  }
  
  .title-icon {
    display:flex;
    margin: 1.3rem 0 0 1.4rem;
    color: #d4e8fc;
  }
  .title-icon-github {
    font-size: 2.2rem;
    margin-right: 1rem;
    background: #5487B9;
    padding: 0.3rem;
    border-radius: 0.3rem;
    cursor: pointer;
    border-bottom: 4px solid #052749;
    border-left: 1px solid #052749;
    position:relative
  }
  .title-icon-linkedin {
    font-size: 2.2rem;
    background: #5487B9;
    padding: 0.3rem;
    border-radius: 0.3rem;
    cursor: pointer;
    border-bottom: 4px solid #052749;
    border-left: 1px solid #052749;
    position:relative
  }
  .title-icon-resume-btn {
    border-radius: 0.3rem;
    border:none;
    color: #d4e8fc;
    background-color: #5487B9;
    border-bottom: 4px solid #052749;
    border-left: 1px solid #052749;
    position:relative;
    margin-left: 1.3rem;
    padding: 0.2rem 1.4rem;
    font-weight: 300;
  }

  .about_image {
    width: 20rem;
    height: 20rem;
   }
   .about_text {
    margin-top: 3rem;
    -webkit-text-stroke: 0.1px #05386B;
    font-weight: 500;
    font-size: 1rem;
  }
  .skills_header_text {
    margin-top: 30px !important;
    margin-bottom: 50px !important;
    font-size: 2rem;
    -webkit-text-stroke: 1.2px #05386B;
    color: #EDF5E1;
  }
  .contact_form {
    border: 1px solid #EDF5E1;
    color: #EDF5E1;
    border-radius: 20px;
    padding: 2rem;
    background: rgba(243, 243, 243, 0.71);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
    -webkit-box-shadow: 1px 5px 9px -6px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 5px 9px -6px rgba(66, 68, 90, 1);
    margin: 0;
    width:100%
  }
}

@media screen and (max-width:500px) {
  .title-bg {
    width: 20rem;
     height: 20rem;
     margin-top: 3rem;
     margin-left: 0.8rem;
   }
  .title-wrapper {
    margin-top: 5.1rem;
  }
  .p-title {
    font-size: 2rem;
    padding-top: 40px;
    margin-top: 20px;
    margin-left: 0.3rem;
    font-weight: 600;
    color: #EDF5E1;
    -webkit-text-stroke: 2px #05386B;
  }
  
  .p-title1 {
    font-size: 4rem;
    margin-top: 5px;
    margin-left: 0.3rem;
    font-weight: bold;
    color: #EDF5E1;
    text-shadow: 5px 1px 0px #05386B;
  }
  .p-text {
    font-size: 0.9rem;
    margin-left: 0.3rem;
    font-weight: 500;
    color: #EDF5E1;
    -webkit-text-stroke: 0.2px #05386B;
  }
  
  .title-icon {
    display:flex;
    margin: 1.3rem 0 0 0.5rem;
    color: #d4e8fc;
  }
  .title-icon-github {
    font-size: 2.2rem;
    margin-right: 1rem;
    background: #5487B9;
    padding: 0.3rem;
    border-radius: 0.3rem;
    cursor: pointer;
    border-bottom: 4px solid #052749;
    border-left: 1px solid #052749;
    position:relative
  }
  .title-icon-linkedin {
    font-size: 2.2rem;
    background: #5487B9;
    padding: 0.3rem;
    border-radius: 0.3rem;
    cursor: pointer;
    border-bottom: 4px solid #052749;
    border-left: 1px solid #052749;
    position:relative
  }
  .title-icon-resume-btn {
    border-radius: 0.3rem;
    border:none;
    color: #d4e8fc;
    background-color: #5487B9;
    border-bottom: 4px solid #052749;
    border-left: 1px solid #052749;
    position:relative;
    margin-left: 1.3rem;
    padding: 0.2rem 1.4rem;
    font-weight: 300;
  }

  .about_image {
    width: 17rem;
    height: 17rem;
   }
   .about_text {
    margin-top: 3rem;
    -webkit-text-stroke: 0.1px #05386B;
    font-weight: 500;
    font-size: 1rem;
    padding: 0 2rem;
  }
  .skills_header_text {
    margin-top: 30px !important;
    margin-bottom: 50px !important;
    font-size: 2.3rem;
    -webkit-text-stroke: 1.2px #05386B;
    color: #EDF5E1;
  }
  .contact_form {
    border: 1px solid #EDF5E1;
    color: #EDF5E1;
    border-radius: 20px;
    padding: 2rem;
    background: rgba(243, 243, 243, 0.71);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
    -webkit-box-shadow: 1px 5px 9px -6px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 5px 9px -6px rgba(66, 68, 90, 1);
    margin: 0;
    width: 100%;
  }
  .feedback_text {
    font-style: italic;
    text-align: center !important;
    font-size: 15px;
  }
  .project_header_text {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 3px;
    -webkit-text-stroke: 0.8px #379683;
    color: #05386B;
    margin-bottom: 3rem;
  }
  .about_header_text {
    margin-top: 30px !important;
    margin-bottom: 70px !important;
    font-size: 2.3rem;
    font-weight: 600;
    letter-spacing: 3px;
    -webkit-text-stroke: 1.5px #05386B;
    color: #EDF5E1;
  }
  .contact_header_text {
    margin-top: 90px !important;
    padding-bottom: 3rem!important;
    font-size: 2rem;
    padding-top: 3rem;
    font-weight: 600;
    letter-spacing: 3px;
    -webkit-text-stroke: 0.8px #379683;
    color: #05386B;
  }
  .stack_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #F5F5F5;
    width:fit-content;
    margin-left: 0.3rem;
  }
}