@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=VT323&display=swap');
*{
  font-family: 'Poppins';
}
.main_body {
  background-color: #5CDB95;
}
.logo {
 width: 4rem;
 height: 3rem;
 cursor: pointer;
 transition: 0.3s ease-in-out;
}
.logo:hover {
transform: rotate(-6deg);
}

/* Navbar */
.nav{
  background-color: #5CDB95;
  transition: 0.3s ease-in-out;
}
.nav.active {
  background: rgba(243, 243, 243, 0.71);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  -webkit-box-shadow: 1px 5px 9px -6px rgba(66, 68, 90, 1);
  -moz-box-shadow: 1px 5px 9px -6px rgba(66, 68, 90, 1);
  box-shadow: 1px 5px 9px -6px rgba(66, 68, 90, 1);
  
}
.a,.b{
  text-decoration: none;
  transition:  0.3s ease-in-out;
}
.b:hover {
  color: #5CDB95!important;
  cursor: pointer;
}
.link_navB {
  color: #05386B !important;
}
.a:hover{
  color: #05386B !important;
}
.link_nav {
  color: #EDF5E1 !important;
  cursor: pointer;
}
.brand_img {
  height: 90px;
}
.nav_active {
  text-decoration: none;
  color: #5CDB95;
}
/* .nav_active::after {
  position:absolute;
  content: "";
  height: 3px;
  width: 4%;
  background-color: red;
  left: 0;
  bottom: 15px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  animation: appear 0.2s linear;
} */

/* @keyframes animation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} */

/*Navbar burger*/
.close_navbar {
  font-size: 30px;
  color: whitesmoke;
  border: none;
}
.open_navbar {
  font-size: 30px;
  color: whitesmoke;
  border: none;
}

.arrow_up {
  background-color: #05386B;
  position: fixed;
  bottom:50px;
  left:30px;
  border-radius: 5rem;
  color: #EDF5E1;
  cursor: pointer !important;
  transition: 0.3s ease-in-out;
  padding: 0.3rem;
}
.arrow_up:hover {
  transform: translateY(-7px);
  

}

.title{
  height: 50rem !important;
  background-image: url("./images/bodyBg.svg");
  background-size: cover;
}
.p_title {
  font-size: 70px;
  padding-top: 40px;
  margin-top: 20px;
  margin-left: 15px;
  font-weight: 600;
  color: #EDF5E1;
  -webkit-text-stroke: 2px #05386B;
}

.p_title1 {
  font-size: 80px;
  margin-top: 5px;
  margin-left: 80px;
  font-weight: bold;
  color: #EDF5E1;
  text-shadow: 5px 1px 0px #05386B;
}
.p_text {
  font-size: 22px;
  margin-left: 90px;
  font-weight: 500;
  color: #EDF5E1;
  -webkit-text-stroke: 0.7px #05386B;
}
.project_header_text {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 3px;
  -webkit-text-stroke: 0.8px #379683;
  color: #05386B;
}
/* About */

.about_text {
  margin-top: 3rem;
  -webkit-text-stroke: 0.1px #05386B;
  font-weight: 500;
  font-size: 1.3rem;
}
.about_header_text {
  margin-top: 30px !important;
  margin-bottom: 70px !important;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 3px;
  -webkit-text-stroke: 1.5px #05386B;
  color: #EDF5E1;
}
.skills_header_text {
  margin-top: 40px !important;
  margin-bottom: 50px !important;
  font-size: 50px;
  -webkit-text-stroke: 1.2px #05386B;
  color: #EDF5E1;
}
.contact_header_text {
  margin-top: 90px !important;
  padding-bottom: 3rem!important;
  font-size: 50px;
  padding-top: 3rem;
  font-weight: 600;
  letter-spacing: 3px;
  -webkit-text-stroke: 0.8px #379683;
  color: #05386B;
}
.button_live {
  margin-right: 20px !important;
  background-color: #05386B !important;
  border: none !important;
}
.project_name {
  font-size: 20px;
  margin-right: 25px;
  font-weight: 500;
  color: #35363A;
}
.project_details{
  font-size: 15px;
  color: #35363A;
  font-weight: lighter;
}
.column_project {
  background-color: #EDF5E1;
  -webkit-box-shadow: 14px -2px 0px 7px #8EE4AF;
  -moz-box-shadow: 14px -2px 0px 7px #8EE4AF;
  box-shadow: 14px -2px 0px 7px #8EE4AF;
  border-radius: 50px;
  margin-top: 30px !important;
  margin:auto;
  margin-bottom: 30px !important;
  transition: 0.3s ease-in-out;
}

h6 {
  color: #EDF5E1;
}

.about_image {
 width: 25rem;
height: 25rem;
}

/* ContactUs */
.contact__me {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}
.contact__me .cont__list {
  color: #EDF5E1;
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 30px 50px;
  transform: rotate(-30deg) skew(25deg);
  font-size: 100px;
  background: #ccc;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 0 8px 6px -1px black;
}
.contact__me .cont__list span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #05386B ;
  border-radius: 10px;
  transition: 0.5s;
  display: flex !important;
  align-items: center;
  font-size: 30px !important;
}
.contact__me .cont__list:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  border-radius: 10px;
  opacity: 1;
  border: 1px solid #05386B;
}
.contact__me .cont__list:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  border-radius: 10px;
  opacity: 0.8;
}
.contact__me .cont__list:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  border-radius: 10px;
  opacity: 0.6;
}
.contact__me .cont__list:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  border-radius: 10px;
  opacity: 0.6;
}
.contact__me .cont__list:hover span:nth-child(1) {
  transform: translate(0, 0);
  border-radius: 10px;
  opacity: 0.2;
}
.contact_wrapper {
  border: 0.8px solid #5CDB95;
  border-radius: 70px;
  -webkit-box-shadow: 0px 7px 8px 0px rgba(92, 219, 149, 1);
  -moz-box-shadow: 0px 7px 8px 0px rgba(92, 219, 149, 1);
  box-shadow: 0px 7px 8px 0px rgba(92, 219, 149, 1);
  margin-right: 20px;
  margin-bottom: 50px;
}
.github {
  padding-left: 5px;
  border-radius: 10px;
  color: #EDF5E1;
}
.linkedin {
  padding-top: 5px;
  padding-left: 7px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #EDF5E1;
}
.project_tab {
  padding-bottom: 4rem;
  background-color: #EDF5E1 !important;
}
.contact_tab {
  margin-top: 5rem;
  background-color: #EDF5E1 !important;
}

/* Form */

.contact_form {
  border: 1px solid #EDF5E1;
  color: #EDF5E1;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.4) -5px 5px, rgba(134, 134, 134, 0.3) -10px 10px, rgba(90, 90, 90, 0.2) -15px 15px, rgba(150, 150, 150, 0.1) -20px 20px, rgba(95, 95, 95, 0.05) -25px 25px;
}
.feedback_text {
  font-style: italic;
  text-align: center !important;
  font-size: 15px;
}

/* Bg Image */
.bg_title {
 width: 30rem;
  height: 30rem;
}

/* Tech Logo */
.react_logo{
color:whitesmoke;
transition: 0.3s ease-in-out;
}
.css_logo{
  color:whitesmoke;
  transition: 0.3s ease-in-out;
}

.html_logo{
  color:whitesmoke;
  transition: 0.3s ease-in-out;
}

.js_logo {
  color:whitesmoke;
  transition: 0.5s ease-in-out;
}
.firebase_logo {
  color:whitesmoke;
  transition: 0.5s ease-in-out;
}

.react_logo:hover {
  color: #5CCFEE;
  transform: translateY(-13px);
}
.css_logo:hover {
  color: #2E49D4;
  transform: translateY(-13px);
}
.html_logo:hover {
  color:#EB5403;
  transform: translateY(-13px);
}
.js_logo:hover {
  color:#EAD41C;
  transform: translateY(-13px);
}
.firebase_logo:hover {
  color:#F2C12B;
  transform: translateY(-13px);
}

/* Media Queries */

@media only screen and (min-width: 320px) and (max-width: 479px){
  .p_title {
    font-size: 2rem !important;
    padding-top: 40px;
    margin-top: 3rem;
    margin-left: 15px;
    color: #EDF5E1;
    -webkit-text-stroke: 2px #05386B;
  }
  .p_title1 {
    font-size: 4rem;
    margin-top: 5px;
    margin-left: 1rem;
    font-weight: bold;
    color: #EDF5E1;
    text-shadow: 5px 1px 0px #05386B;
  }
  .p_text {
    font-size: 0.8rem;
    margin-left: 1rem;
    font-weight: 500;
    color: #EDF5E1;
    -webkit-text-stroke: 0.1px #05386B;
  }
  .bg_title {
      width: 25rem;
     height: 25rem;
   }
   
.react_player {
  height: 18rem !important;
  width: 17rem !important;
}
.column_project {
  background-color: #EDF5E1;
  -webkit-box-shadow: 14px -2px 0px 7px #8EE4AF;
  -moz-box-shadow: 14px -2px 0px 7px #8EE4AF;
  box-shadow: 14px -2px 0px 7px #8EE4AF;
  border-radius: 50px;
  margin-top: 30px !important;
  margin:auto;
  margin-bottom: 30px !important;
  transition: 0.3s ease-in-out;
}
.react_logo{
  color:whitesmoke;
  transition: 0.3s ease-in-out;
  font-size: 10px !important;
  }
.skills_header_text {
    margin-top: 40px !important;
    margin-bottom: 50px !important;
    font-size: 2rem;
    -webkit-text-stroke: 1.2px #05386B;
    color: #EDF5E1;
  }
.contact__me .cont__list {
    color: #EDF5E1;
    position: relative;
    list-style: none;
    width: 100px;
    height: 60px;
    margin: 30px 50px;
    transform: rotate(-30deg) skew(25deg);
    font-size: 94px;
    background: #ccc;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 8px 6px -1px black;
  }
  .contact__me .cont__list span {
    position: absolute;
    top: 0;
    left: 0;
    width: 151%;
    height: 100%;
    background: #05386B ;
    border-radius: 10px;
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    font-size: 30px !important;
  }
  .github {
    padding-left: 3px;
    border-radius: 10px;
    color: #EDF5E1;
  }
  .linkedin {
    padding-top: 5px;
    padding-left: 7px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 360px){
  .p_title {
    font-size: 2rem !important;
    padding-top: 40px;
    margin-top: 3rem;
    margin-left: 15px;
    color: #EDF5E1;
    -webkit-text-stroke: 2px #05386B;
  }
  .p_title1 {
    font-size: 4rem;
    margin-top: 5px;
    margin-left: 1rem;
    font-weight: bold;
    color: #EDF5E1;
    text-shadow: 5px 1px 0px #05386B;
  }
  .p_text {
    font-size: 0.8rem;
    margin-left: 1rem;
    font-weight: 500;
    color: #EDF5E1;
    -webkit-text-stroke: 0.1px #05386B;
  }
  .bg_title {
      width: 25rem;
     height: 25rem;
   }
   
.react_player {
  height: 18rem !important;
  width: 19rem !important;
}
.column_project {
  background-color: #EDF5E1;
  -webkit-box-shadow: 14px -2px 0px 7px #8EE4AF;
  -moz-box-shadow: 14px -2px 0px 7px #8EE4AF;
  box-shadow: 14px -2px 0px 7px #8EE4AF;
  border-radius: 50px;
  margin-top: 30px !important;
  margin:auto;
  margin-bottom: 30px !important;
  transition: 0.3s ease-in-out;
}
.react_logo{
  color:whitesmoke;
  transition: 0.3s ease-in-out;
  font-size: 10px !important;
  }
.skills_header_text {
    margin-top: 40px !important;
    margin-bottom: 50px !important;
    font-size: 2rem;
    -webkit-text-stroke: 1.2px #05386B;
    color: #EDF5E1;
  }
.contact__me .cont__list {
    color: #EDF5E1;
    position: relative;
    list-style: none;
    width: 100px;
    height: 60px;
    margin: 30px 50px;
    transform: rotate(-30deg) skew(25deg);
    font-size: 94px;
    background: #ccc;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 8px 6px -1px black;
  }
  .contact__me .cont__list span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #05386B ;
    border-radius: 10px;
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    font-size: 30px !important;
  }
  .github {
    padding-left: 3px;
    border-radius: 10px;
    color: #EDF5E1;
  }
  .linkedin {
    padding-top: 5px;
    padding-left: 7px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px){ 
  .p_title {
    font-size: 2.1rem !important;
    padding-top: 40px;
    margin-top: 4rem;
    margin-left: 15px;
    color: #EDF5E1;
    -webkit-text-stroke: 2px #05386B;
  }
  .p_title1 {
    font-size: 5rem;
    margin-top: 5px;
    margin-left: 1rem;
    font-weight: bold;
    color: #EDF5E1;
    text-shadow: 5px 1px 0px #05386B;
  }
  .p_text {
    font-size: 0.9rem;
    margin-left: 1rem;
    font-weight: 500;
    color: #EDF5E1;
    -webkit-text-stroke: 0.1px #05386B;
  }
  .bg_title {
      width: 25rem;
     height: 25rem;
   }
   .contact__me .cont__list {
    color: #EDF5E1;
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 30px 50px;
    transform: rotate(-30deg) skew(25deg);
    font-size: 94px;
    background: #ccc;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 8px 6px -1px black;
  }
  .contact__me .cont__list span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #05386B ;
    border-radius: 10px;
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    font-size: 30px !important;
  }
  .github {
    padding-left: 3px;
    border-radius: 10px;
    color: #EDF5E1;
  }
  .linkedin {
    padding-top: 5px;
    padding-left: 7px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
   
.react_player {
  padding-left: 30px !important; 
  height: 15rem !important;
  width: 25rem !important;
}
.column_project {
  background-color: #EDF5E1;
  -webkit-box-shadow: 14px -2px 0px 7px #8EE4AF;
  -moz-box-shadow: 14px -2px 0px 7px #8EE4AF;
  box-shadow: 14px -2px 0px 7px #8EE4AF;
  border-radius: 50px;
  margin-top: 30px !important;
  margin:auto;
  margin-bottom: 30px !important;
  transition: 0.3s ease-in-out;
}
.react_logo{
  color:whitesmoke;
  transition: 0.3s ease-in-out;
  font-size: 10px !important;
  }
  .skills_header_text {
    margin-top: 40px !important;
    margin-bottom: 50px !important;
    font-size: 2rem;
    -webkit-text-stroke: 1.2px #05386B;
    color: #EDF5E1;
  }
 }

@media only screen and (min-width: 768px) and (max-width: 991px){ 
  .p_title {
    font-size: 2.1rem !important;
    padding-top: 40px;
    margin-top: 3rem;
    margin-left: 15px;
    color: #EDF5E1;
    -webkit-text-stroke: 2px #05386B;
  }
  .p_title1 {
    font-size: 5rem;
    margin-top: 5px;
    margin-left: 1rem;
    font-weight: bold;
    color: #EDF5E1;
    text-shadow: 5px 1px 0px #05386B;
  }
  .p_text {
    font-size: 0.9rem;
    margin-left: 1rem;
    font-weight: 500;
    color: #EDF5E1;
    -webkit-text-stroke: 0.1px #05386B;
  }
  .bg_title {
      width: 25rem !important;
     height: 30rem !important;
   }
   .contact__me .cont__list {
    color: #EDF5E1;
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 30px 50px;
    transform: rotate(-30deg) skew(25deg);
    font-size: 94px;
    background: #ccc;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 8px 6px -1px black;
  }
  .contact__me .cont__list span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #05386B ;
    border-radius: 10px;
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    font-size: 30px !important;
  }
  .github {
    padding-left: 3px;
    border-radius: 10px;
    color: #EDF5E1;
  }
  .linkedin {
    padding-top: 5px;
    padding-left: 7px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

.react_player {
  padding-left: 0.3rem !important; 
  height: 15rem !important;
  width: 16rem !important;
  border-radius: 1rem !important;
}
.column_project {
  background-color: #EDF5E1;
  -webkit-box-shadow: 14px -2px 0px 7px #8EE4AF;
  -moz-box-shadow: 14px -2px 0px 7px #8EE4AF;
  box-shadow: 14px -2px 0px 7px #8EE4AF;
  border-radius: 50px;
  margin-top: 30px !important;
  margin:1rem;
  margin-bottom: 30px !important;
  transition: 0.3s ease-in-out;
}
.react_logo{
  color:whitesmoke;
  transition: 0.3s ease-in-out;
  font-size: 10px !important;
  }
  .skills_header_text {
    margin-top: 40px !important;
    margin-bottom: 50px !important;
    font-size: 2rem;
    -webkit-text-stroke: 1.2px #05386B;
    color: #EDF5E1;
  }

  .bg_title {
    margin-top: 8rem;
    width: 25rem !important;
    height: 30rem;
  }
  .skills_header_text {
    margin-top: 40px !important;
    margin-bottom: 50px !important;
    font-size: 3rem;
    -webkit-text-stroke: 1.2px #05386B;
    color: #EDF5E1;
  }
  .about_text {
    margin-top: 1rem;
  }
  .about_image {
    width: 25rem;
   height: 25rem;
   }
 }

@media only screen and (min-width: 992px){ 
  .p_title {
    font-size: 3rem !important;
    padding-top: 40px;
    margin-top: 20px;
    margin-left: 15px;
    color: #EDF5E1;
    -webkit-text-stroke: 2px #05386B;
  }
  .p_title1 {
    font-size: 6rem;
    margin-top: 5px;
    margin-left: 1rem;
    font-weight: bold;
    color: #EDF5E1;
    text-shadow: 5px 1px 0px #05386B;
  }
  .p_text {
    font-size: 1rem;
    margin-left: 1rem;
    font-weight: 500;
    color: #EDF5E1;
    -webkit-text-stroke: 0.1px #05386B;
  }
  .bg_title { 
    width: 25rem;
     height: 30rem;
   }
   
   .contact__me .cont__list {
    color: #EDF5E1;
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 30px 50px;
    transform: rotate(-30deg) skew(25deg);
    font-size: 94px;
    background: #ccc;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 8px 6px -1px black;
  }
  .contact__me .cont__list span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #05386B ;
    border-radius: 10px;
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    font-size: 30px !important;
  }
  .github {
    padding-left: 3px;
    border-radius: 10px;
    color: #EDF5E1;
  }
  .linkedin {
    padding-top: 5px;
    padding-left: 7px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

.react_player {
  height: 17rem !important;
  width: 23rem !important;
}
.column_project {
  background-color: #EDF5E1;
  -webkit-box-shadow: 14px -2px 0px 7px #8EE4AF;
  -moz-box-shadow: 14px -2px 0px 7px #8EE4AF;
  box-shadow: 14px -2px 0px 7px #8EE4AF;
  border-radius: 50px;
  margin-top: 30px !important;
  margin:1.4rem;
  margin-bottom: 30px !important;
  transition: 0.3s ease-in-out;
}
.react_logo{
  color:whitesmoke;
  transition: 0.3s ease-in-out;
  font-size: 10px !important;
  }
  .skills_header_text {
    margin-top: 40px !important;
    margin-bottom: 50px !important;
    font-size: 2rem;
    -webkit-text-stroke: 1.2px #05386B;
    color: #EDF5E1;
  }
  .bg_title {
    margin-top: 8rem;
    width: 25rem !important;
    height: 30rem;
  }
  .skills_header_text {
    margin-top: 40px !important;
    margin-bottom: 50px !important;
    font-size: 3rem;
    -webkit-text-stroke: 1.2px #05386B;
    color: #EDF5E1;
  }
  .about_text {
    margin-top: 5rem;
  }
  .about_image {
    width: 25rem;
   height: 25rem;
   }
 }

@media (min-width:1025px) {
  .p_title {
    font-size: 2rem !important;
    padding-top: 40px;
    margin-top: 4rem;
    margin-left: 15px;
    color: #EDF5E1;
    -webkit-text-stroke: 2px #05386B;
  }
  .p_title1 {
    font-size: 6rem;
    margin-top: 5px;
    margin-left: 1rem;
    font-weight: bold;
    color: #EDF5E1;
    text-shadow: 5px 1px 0px #05386B;
  }
  .p_text {
    font-size: 1.3rem;
    margin-left: 1.5rem;
    font-weight: 500;
    color: #EDF5E1;
    -webkit-text-stroke: 0.1px #05386B;
  }
  .bg_title {
    margin-top: 15rem !important;
      width: 25rem;
     height: 25rem;
   }
   
   .contact__me .cont__list {
    color: #EDF5E1;
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 30px 50px;
    transform: rotate(-30deg) skew(25deg);
    font-size: 94px;
    background: #ccc;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 8px 6px -1px black;
  }
  .contact__me .cont__list span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #05386B ;
    border-radius: 10px;
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    font-size: 30px !important;
  }
  .github {
    padding-left: 3px;
    border-radius: 10px;
    color: #EDF5E1;
  }
  .linkedin {
    padding-top: 5px;
    padding-left: 7px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

.react_player {
  padding-left: 1rem !important; 
  height: 21rem !important;
  width: 22rem !important;
}
.column_project {
  background-color: #EDF5E1;
  -webkit-box-shadow: 14px -2px 0px 7px #8EE4AF;
  -moz-box-shadow: 14px -2px 0px 7px #8EE4AF;
  box-shadow: 14px -2px 0px 7px #8EE4AF;
  border-radius: 50px;
  margin-top: 30px !important;
  margin:1rem;
  margin-bottom: 30px !important;
  transition: 0.3s ease-in-out;
}
.react_logo{
  color:whitesmoke;
  transition: 0.3s ease-in-out;
  font-size: 10px !important;
  }
  .skills_header_text {
    margin-top: 40px !important;
    margin-bottom: 50px !important;
    font-size: 2rem;
    -webkit-text-stroke: 1.2px #05386B;
    color: #EDF5E1;
  }
  .bg_title {
    margin-top: 8rem;
    width: 25rem !important;
    height: 30rem;
  }
  .skills_header_text {
    margin-top: 40px !important;
    margin-bottom: 50px !important;
    font-size: 3rem;
    -webkit-text-stroke: 1.2px #05386B;
    color: #EDF5E1;
  }
  .about_text {
    margin-top: 1rem;
  }
  .about_image {
    width: 25rem;
   height: 25rem;
   }
}
@media (min-width:1281px) {
  .p_title {
    font-size: 3rem !important;
    padding-top: 40px;
    margin-top: 6rem;
    margin-left: 15px;
    color: #EDF5E1;
    -webkit-text-stroke: 2px #05386B;
  }
  .p_title1 {
    font-size: 7rem;
    margin-top: 5px;
    margin-left: 1rem;
    font-weight: bold;
    color: #EDF5E1;
    text-shadow: 5px 1px 0px #05386B;
  }
  .p_text {
    font-size: 1.3rem;
    margin-left: 1.5rem;
    font-weight: 500;
    color: #EDF5E1;
    -webkit-text-stroke: 0.1px #05386B;
  }
  .bg_title {
      width: 30rem;
     height: 25rem;
   }
   
   .contact__me .cont__list {
    color: #EDF5E1;
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 30px 50px;
    transform: rotate(-30deg) skew(25deg);
    font-size: 94px;
    background: #ccc;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 8px 6px -1px black;
  }
  .contact__me .cont__list span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #05386B ;
    border-radius: 10px;
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    font-size: 30px !important;
  }
  .github {
    padding-left: 3px;
    border-radius: 10px;
    color: #EDF5E1;
  }
  .linkedin {
    padding-top: 5px;
    padding-left: 7px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

.react_player {
  padding-left: 1rem !important; 
  height: 20rem !important;
  width: 27rem !important;
  border-radius: 1rem !important;
}
.column_project {
  background-color: #EDF5E1;
  -webkit-box-shadow: 14px -2px 0px 7px #8EE4AF;
  -moz-box-shadow: 14px -2px 0px 7px #8EE4AF;
  box-shadow: 14px -2px 0px 7px #8EE4AF;
  border-radius: 50px;
  margin-top: 30px !important;
  margin:2rem;
  margin-bottom: 30px !important;
  transition: 0.3s ease-in-out;
}
.react_logo{
  color:whitesmoke;
  transition: 0.3s ease-in-out;
  font-size: 10px !important;
  }
  .skills_header_text {
    margin-top: 40px !important;
    margin-bottom: 50px !important;
    font-size: 2rem;
    -webkit-text-stroke: 1.2px #05386B;
    color: #EDF5E1;
  }
  .bg_title {
    width: 30rem !important;
    height: 30rem;
  }
  .skills_header_text {
    margin-top: 40px !important;
    margin-bottom: 50px !important;
    font-size: 3rem;
    -webkit-text-stroke: 1.2px #05386B;
    color: #EDF5E1;
  }
  .about_text {
    margin-top: 1rem;
  }
  .about_image {
    width: 25rem;
   height: 25rem;
   }
}