@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=VT323&display=swap");
* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0.7vw;
}
::-webkit-scrollbar-track {
  background-color: #f3f3f3;
}
::-webkit-scrollbar-thumb {
  background-color: #05386b;
  border-radius: 1rem;
  height: 2rem;
}
.spinner_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-bottom: 4rem;
  background-color: #edf5e1;
  z-index: 1;
}
.download_btn:active,
.live_btn:active,
.source_code_btn:active,
.send_btn:active {
  border-bottom-width: 2px;
  top: 3px;
}
.live_btn {
  margin-right: 0.4rem;
}
.send_btn_wrapper {
  display: grid;
}
.send_btn {
  margin-bottom: 1rem !important;
}
.live_btn,
.source_code_btn,
.send_btn {
  background: #5487b9;
  color: #d4e8fc;
  border: 0;
  padding: 5px 10px;
  border-bottom: 5px solid #05386b;
  border-left: 1px solid #05386b;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  font-weight: 300;
}

/* Title */
.title-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.title-bg-container {
  position: relative;
  z-index: 1;
}
.title-bg {
  width: 25rem;
  height: 25rem;
  margin-top: 11rem;
  margin-left: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 0.8rem;
}

.title-container {
  height: auto;
  background-color: #5cdb95;
  padding-bottom: 4rem;
  position: relative;
}
.title-wrapper {
  margin-top: 8rem;
  z-index: 1;
}
.p-title {
  font-size: 3rem;
  padding-top: 40px;
  margin-top: 20px;
  margin-left: 15px;
  font-weight: 600;
  color: #edf5e1;
  text-shadow: 4px 1px 0px #05386b;
}

.p-title1 {
  font-size: 7rem;
  margin-top: 5px;
  margin-left: 16px;
  font-weight: bold;
  color: #edf5e1;
  text-shadow: 5px 1px 0px #05386b;
}
.p-text {
  font-size: 19px;
  margin-left: 25px;
  font-weight: 500;
  color: #edf5e1;
  text-shadow: 1px 1px 0px #05386b;
}

.title-icon {
  display: flex;
  margin: 1.8rem 0 0 1.4rem;
}
.title-icon a {
  text-decoration: none;
  color: #d4e8fc;
}
.title-icon-github {
  font-size: 2.7rem;
  margin-right: 1rem;
  background: #5487b9;
  padding: 0.4rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border-bottom: 4px solid #052749;
  border-left: 1px solid #052749;
  position: relative;
}
.title-icon-linkedin {
  font-size: 2.7rem;
  background: #5487b9;
  padding: 0.4rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border-bottom: 4px solid #052749;
  border-left: 1px solid #052749;
  position: relative;
}
.title-icon-resume-btn {
  border-radius: 0.3rem;
  border: none;
  color: #d4e8fc;
  background-color: #5487b9;
  border-bottom: 4px solid #052749;
  border-left: 1px solid #052749;
  position: relative;
  margin-left: 1.3rem;
  padding: 0.5rem 1.5rem;
  font-weight: 300;
}
.title-icon-github:active,
.title-icon-linkedin:active,
.title-icon-resume-btn:active {
  border-bottom-width: 2px;
  top: 3px;
}

.main_body {
  background-color: #5cdb95;
}

/* Project Details */
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.modal-content {
  max-width: 700px;
  max-height: 500px;
  width: 100%;
  height: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content img {
  width: auto;
  max-width: 100%;
  max-height: 100vh;
  margin: 0 auto;
  object-fit: fill;
  box-sizing: border-box;
  line-height: auto;
  padding: 2.3rem 0 2rem;
}

.project {
  z-index: -1;
}
.project-wrapper {
  padding-bottom: 10rem;
}
.project-details-body {
  background-color: #edf5e1;
  height: auto;
  padding-top: 2rem;
  z-index: -1;
}
.image-wrapper {
  display: flex;
  padding: 1rem 1.3rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.project-images {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #f3f3f3;
  cursor: pointer;
  background: rgba(243, 243, 243, 0.71);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  -webkit-box-shadow: 1px 5px 9px -6px rgba(66, 68, 90, 1);
  -moz-box-shadow: 1px 5px 9px -6px rgba(66, 68, 90, 1);
  transition: all 350ms ease-in-out;
}
.project-images:hover {
  transform: translateY(-5px);
}
.project-image-text {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  padding-top: 4rem;
  -webkit-text-stroke: 0.8px #379683;
  color: #05386b;
}

.project-details {
  text-align: center;
  padding: 0 10rem;
  font-size: 1rem;
}
.project-details-return-btn {
  color: #1c5fa3;
  margin-left: 2rem;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.project-details-return-btn:hover {
  transform: translateX(-3px);
}
.project-details-title {
  -webkit-text-stroke: 0.8px #379683;
  color: #05386b;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 2rem;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5rem;
}
.video-title {
  -webkit-text-stroke: 0.8px #379683;
  color: #05386b;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}
.video-wrapper {
  max-width: 50rem;
  max-height: 50rem;
}

.video-wrapper video {
  width: 100%;
  height: 100%;
  border-radius: 0.7rem;
  border: 1px solid #05386b;
}
/* Navbar */
.navbar-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  width: 100vw;
  padding: 0 2rem;
  background-color: #5cdb95;
  color: #f3f3f3;
  position: fixed;
  z-index: 2;
}
.navbar-header-active {
  background: rgba(243, 243, 243, 0.71);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  -webkit-box-shadow: 1px 5px 9px -6px rgba(66, 68, 90, 1);
  -moz-box-shadow: 1px 5px 9px -6px rgba(66, 68, 90, 1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  width: 100vw;
  padding: 0 2rem;
  color: #05386b;
  position: fixed;
  z-index: 2;
}
nav .navbar-links {
  margin: 0 1rem;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}
nav .navbar-links:first-child {
  margin-left: 4rem;
}
.navbar-links:hover {
  color: #20578d;
}
nav .navbar-links:hover::after,
nav .navbar-active-link::after {
  content: "";
  position: absolute;
  right: 0.1rem;
  top: 1.4rem;
  width: 101%;
  height: 0.2rem;
  background: #20578d;
  transition: all 1s;
  border-radius: 1rem;
}
.navbar-menu-btn {
  margin-left: auto;
}

.navbar-header .navbar-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  display: none;
  font-size: 1.8rem;
  color: #f3f3f3;
}
.navbar-header-active .navbar-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  display: none;
  font-size: 1.8rem;
  color: #05386b;
}
.navbar-logo {
  width: 4rem;
  height: 3rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.navbar-logo:hover {
  transform: rotate(-6deg);
}
.arrow_up {
  background: #05386b;
  border-radius: 2rem;
  color: #f3f3f3;
  padding: 0.3rem;
  position: fixed;
  left: 30px;
  bottom: 50px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.arrow_up:hover {
  transform: translateY(-7px);
}

.project_header_text {
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 3px;
  -webkit-text-stroke: 0.8px #379683;
  color: #05386b;
  margin-bottom: 3rem;
  padding-top: 3rem;
}

.info_logo:hover {
  fill: #1c5fa3;
}
.info_text_wrapper {
  position: absolute;
  top: 0.4rem;
  left: 0;
  width: 28rem;
  height: 13.3rem;
  background: black;
  opacity: 0.6;
  display: none;
}
.info_text {
  display: flex;
  justify-content: center;
  padding: 6rem 6rem 0 0;
  align-items: center;
  color: #f3f3f3;
  font-size: medium;
  cursor: pointer;
  font-weight: 700;
}
.img_wrapper {
  overflow: hidden;
  position: relative;
}
.project_img:hover {
  opacity: 0.3;
}
.img_wrapper:hover .info_text_wrapper {
  display: block;
}
/* About */
.about_container {
  position: relative;
}

.about_wave {
  position: absolute;
  top: -3.6rem;
  left: 0;
  width: 100%;
}
.about_details {
  position: relative;
  z-index: 1;
  text-align: center;
}

.about_text {
  -webkit-text-stroke: 0.1px #05386b;
  font-weight: 500;
  font-size: 1.3rem;
  text-align: justify;
  z-index: 1;
}
.about_header_text {
  margin-top: 30px !important;
  margin-bottom: 70px !important;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 3px;
  -webkit-text-stroke: 0.8px #379683;
  color: #05386b;
}
.skills_header_text {
  margin-top: 4rem !important;
  margin-bottom: 50px !important;
  font-size: 45px;
  -webkit-text-stroke: 1.2px #05386b;
  color: #edf5e1;
}
.contact_header_text {
  margin-top: 90px !important;
  padding-bottom: 3rem !important;
  font-size: 45px;
  padding-top: 3rem;
  font-weight: 600;
  letter-spacing: 3px;
  -webkit-text-stroke: 0.8px #379683;
  color: #05386b;
}
.button_live {
  margin-right: 20px !important;
  background-color: #05386b !important;
  border: none !important;
}
.project_name {
  font-size: 20px;
  margin-right: 25px;
  font-weight: 500;
  color: #35363a;
}
.project_details {
  font-size: 15px;
  color: #35363a;
  font-weight: lighter;
}
.project_card {
  border: none;
  margin-bottom: 2rem;
  border-radius: 0.4rem;
  transition: 0.3s ease-in-out;
  background: rgba(241, 243, 237, 0.02);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  -webkit-box-shadow: 1px 5px 9px -6px #8ee4af;
  -moz-box-shadow: 1px 5px 9px -6px #8ee4af;
}
.project_img {
  height: 14rem !important;
  box-shadow: 120px 100px 250px #000000, inherit -120px -100px 250px #000000;
  object-fit: contain !important;
}
.project_card:hover {
  transform: translateY(-15px) !important;
}

h6 {
  color: #edf5e1;
}

.about_image {
  width: 25rem;
  height: 25rem;
  z-index: 1;
}

.project_tab {
  padding-bottom: 4rem;
  background-color: #edf5e1 !important;
}
.contact_tab {
  margin-top: 5rem;
  background-color: #edf5e1 !important;
  padding-bottom: 2rem;
}

/* Form */
.form_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_form {
  border: 1px solid #edf5e1;
  color: #edf5e1;
  border-radius: 20px;
  padding: 2rem;
  background: rgba(243, 243, 243, 0.71);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  -webkit-box-shadow: 1px 5px 9px -6px rgba(66, 68, 90, 1);
  -moz-box-shadow: 1px 5px 9px -6px rgba(66, 68, 90, 1);
  margin-bottom: 1rem;
  width: 36rem;
}
.feedback_text {
  font-style: italic;
  text-align: center !important;
  font-size: 15px;
}

/* Tech Logo */
.stack_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #f5f5f5;
  width: fit-content;
  margin-left: 2rem;
  margin-top: 0.1rem;
}

.stack_card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.8rem 1.3rem 0.8rem 1.3rem;
  width: 7rem;
  height: 7rem;
  margin: 0.3rem;
  transition: 0.4s ease-in-out;
}
.stack_card:hover {
  transform: translateY(-15) !important;
}

footer {
  color: #edf5e1;
  text-align: center;
  padding: 1rem 0;
}
/* Media Queries */
@media screen and (max-width: 1200px) {
  .contact_form {
    border: 1px solid #edf5e1;
    color: #edf5e1;
    border-radius: 20px;
    padding: 2rem;
    background: rgba(243, 243, 243, 0.71);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
    -webkit-box-shadow: 1px 5px 9px -6px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 5px 9px -6px rgba(66, 68, 90, 1);
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 760px) {
  .navbar-header .navbar-btn {
    display: block;
  }
  .navbar-header-active .navbar-btn {
    display: block;
  }
  .navbar-header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
    background-color: #5cdb95;
    transition: 0.7s ease-in-out;
    transform: translateY(-160vh);
  }
  .navbar-header-active nav {
    background-color: #f3f3f3;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
    transition: 0.7s ease-in-out;
    transform: translateY(-160vh);
  }

  .navbar-header .responsive_navbar {
    transform: none;
  }
  .navbar-header-active .responsive_navbar {
    transform: none;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  .navbar-header .navbar-close-btn {
    position: absolute;
    top: 1.4rem;
    right: 2rem;
  }
  .navbar-header-active .navbar-close-btn {
    position: absolute;
    top: 1.4rem;
    right: 2rem;
  }
  nav .navbar-links:first-child {
    margin: 0;
  }

  .title-bg {
    width: 20rem;
    height: 20rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title-wrapper {
    margin-top: 4rem;
  }
  .p-title {
    font-size: 33px;
    padding-top: 40px;
    margin-top: 20px;
    margin-left: 15px;
    font-weight: 600;
    color: #edf5e1;
    text-shadow: 4px 1px 0px #05386b;
  }

  .p-title1 {
    font-size: 80px;
    margin-top: 5px;
    margin-left: 16px;
    font-weight: bold;
    color: #edf5e1;
    text-shadow: 5px 1px 0px #05386b;
  }
  .p-text {
    font-size: 17px;
    margin-left: 23px;
    font-weight: 500;
    color: #edf5e1;
    text-shadow: 1px 1px 0px #05386b;
  }

  .title-icon {
    display: flex;
    margin: 1.8rem 0 0 1.4rem;
    color: #d4e8fc;
  }
  .title-icon-github {
    font-size: 2.9rem;
    margin-right: 1rem;
    background: #5487b9;
    padding: 0.6rem;
    border-radius: 0.3rem;
    cursor: pointer;
    border-bottom: 4px solid #052749;
    border-left: 1px solid #052749;
    z-index: 1.1;
  }
  .title-icon-linkedin {
    font-size: 2.9rem;
    background: #5487b9;
    padding: 0.6rem;
    border-radius: 0.3rem;
    cursor: pointer;
    border-bottom: 4px solid #052749;
    border-left: 1px solid #052749;
  }
  .title-icon-resume-btn {
    border-radius: 0.3rem;
    border: none;
    color: #d4e8fc;
    background-color: #5487b9;
    border-bottom: 4px solid #052749;
    border-left: 1px solid #052749;
    position: relative;
    margin-left: 1.3rem;
    padding: 0.6rem 1.6rem;
    font-weight: 300;
  }

  .about_image {
    width: 20rem;
    height: 20rem;
  }
  .about_text {
    margin-top: 3rem;
    -webkit-text-stroke: 0.1px #05386b;
    font-weight: 500;
    font-size: 1rem;
  }
  .about_header_text {
    margin-top: 30px !important;
    margin-bottom: 70px !important;
    font-size: 2.3rem;
    font-weight: 600;
    letter-spacing: 3px;
    -webkit-text-stroke: 1.5px #05386b;
    color: #edf5e1;
  }
  .skills_header_text {
    margin-top: 30px !important;
    margin-bottom: 50px !important;
    font-size: 2rem;
    -webkit-text-stroke: 1.2px #05386b;
    color: #edf5e1;
  }
  .contact_form {
    border: 1px solid #edf5e1;
    color: #edf5e1;
    border-radius: 20px;
    padding: 2rem;
    background: rgba(243, 243, 243, 0.71);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
    -webkit-box-shadow: 1px 5px 9px -6px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 5px 9px -6px rgba(66, 68, 90, 1);
    margin-bottom: 1rem;
    width: 100%;
  }
  .project-details-title {
    -webkit-text-stroke: 0.8px #379683;
    color: #05386b;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
  }
  .project-details {
    text-align: justify;
    padding: 0 1.2rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0.6rem 5rem 0.6rem;
  }
  .video-title {
    color: #5cdb95;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
  }
  .video-wrapper {
    max-width: 50rem;
    max-height: 50rem;
  }
  .project-image-text {
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    padding-top: 4rem;
    -webkit-text-stroke: 0.8px #379683;
    color: #05386b;
  }
  .video-title {
    -webkit-text-stroke: 0.8px #379683;
    color: #05386b;
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 500px) {
  .title-bg {
    width: 20rem;
    height: 20rem;
    margin-top: 3rem;
    margin-left: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title-wrapper {
    margin-top: 5.1rem;
  }
  .p-title {
    font-size: 2rem;
    padding-top: 40px;
    margin-top: 20px;
    margin-left: 0.3rem;
    font-weight: 600;
    color: #edf5e1;
    text-shadow: 4px 1px 0px #05386b;
  }

  .p-title1 {
    font-size: 4rem;
    margin-top: 5px;
    margin-left: 0.3rem;
    font-weight: bold;
    color: #edf5e1;
    text-shadow: 5px 1px 0px #05386b;
  }
  .p-text {
    font-size: 0.9rem;
    margin-left: 0.3rem;
    font-weight: 500;
    color: #edf5e1;
    text-shadow: 1px 1px 0px #05386b;
  }

  .title-icon {
    display: flex;
    margin: 1.5rem 0 0 0.5rem;
    color: #d4e8fc;
  }
  .title-icon-github {
    font-size: 2.4rem;
    margin-right: 1rem;
    background: #5487b9;
    padding: 0.3rem;
    border-radius: 0.3rem;
    cursor: pointer;
    border-bottom: 4px solid #052749;
    border-left: 1px solid #052749;
    position: relative;
  }
  .title-icon-linkedin {
    font-size: 2.4rem;
    background: #5487b9;
    padding: 0.3rem;
    border-radius: 0.3rem;
    cursor: pointer;
    border-bottom: 4px solid #052749;
    border-left: 1px solid #052749;
    position: relative;
  }
  .title-icon-resume-btn {
    border-radius: 0.3rem;
    border: none;
    color: #d4e8fc;
    background-color: #5487b9;
    border-bottom: 4px solid #052749;
    border-left: 1px solid #052749;
    position: relative;
    margin-left: 1.3rem;
    padding: 0.4rem 1.5rem;
    font-weight: 300;
  }

  .about_image {
    width: 17rem;
    height: 17rem;
  }
  .about_text {
    margin-top: 3rem;
    -webkit-text-stroke: 0.1px #05386b;
    font-weight: 500;
    font-size: 1rem;
    padding: 0 2rem;
  }
  .skills_header_text {
    margin-top: 30px !important;
    margin-bottom: 50px !important;
    font-size: 2.3rem;
    -webkit-text-stroke: 1.2px #05386b;
    color: #edf5e1;
  }
  .contact_form {
    border: 1px solid #edf5e1;
    color: #edf5e1;
    border-radius: 20px;
    padding: 2rem;
    background: rgba(243, 243, 243, 0.71);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
    -webkit-box-shadow: 1px 5px 9px -6px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 5px 9px -6px rgba(66, 68, 90, 1);
    margin: 0;
    width: 100%;
  }
  .feedback_text {
    font-style: italic;
    text-align: center !important;
    font-size: 15px;
  }
  .project_header_text {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 3px;
    -webkit-text-stroke: 0.8px #379683;
    color: #05386b;
    margin-bottom: 3rem;
  }
  .about_header_text {
    margin-top: 30px !important;
    margin-bottom: 70px !important;
    font-size: 2.3rem;
    font-weight: 600;
    letter-spacing: 3px;
    -webkit-text-stroke: 1.5px #05386b;
    color: #edf5e1;
  }
  .contact_header_text {
    margin-top: 90px !important;
    padding-bottom: 3rem !important;
    font-size: 2rem;
    padding-top: 3rem;
    font-weight: 600;
    letter-spacing: 3px;
    -webkit-text-stroke: 0.8px #379683;
    color: #05386b;
  }
  .stack_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #f5f5f5;
    width: fit-content;
    margin-left: 0.3rem;
  }
  .project-details {
    text-align: justify;
    padding: 0 1.2rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
  .project-details-title {
    -webkit-text-stroke: 0.8px #379683;
    color: #05386b;
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
  }

  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0.6rem 5rem 0.6rem;
  }
  .video-title {
    color: #5cdb95;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
  }
  .video-wrapper {
    max-width: 50rem;
    max-height: 50rem;
  }
  .project-image-text {
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    padding-top: 4rem;
    -webkit-text-stroke: 0.8px #379683;
    color: #05386b;
  }
  .video-title {
    -webkit-text-stroke: 0.8px #379683;
    color: #05386b;
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
  }
  .about_wave {
    position: absolute;
    top: -3rem;
    left: 0;
    width: 100%;
  }
}
